@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Science Gothic", sans-serif;
}

body, html {
    height: 100%;
}

#root {
    overflow: hidden;
    min-width: 375;
}